h1 {
  color: blue;
  font-size: 50px;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  border: 2px solid black;
}

label {
  color: blue;
  font-size: 20px;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bolder;
  border: 2px solid black;
}
input {
  text-align: center;
}
section {
  text-align: center;
}
