* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contenedor {
  display: flex;
  flex-wrap: wrap;
  background-color: gray;
  justify-content: space-evenly;
  padding: 10px;
}
.item {
  color: white;
  background-color: gray;
}

.tabla,
th {
  border: 1px solid blue;
  justify-content: center;
  padding: 10px;
  text-align: center;
}

.data {
  text-align: center;
}
.tabla {
  align-items: center;
  align-content: center;
}
